localhost:2015 {
  on startup docker-gen.sh &
}
import /etc/caddy/*.caddyfile
{{ range $container := whereExist $ "Labels.CADDY_HOST" }}
{{ $container.Labels.CADDY_HOST }} {
  {{ if contains $container.Labels "CADDY_DISABLE_TLS" }}tls off{{ end }}
  gzip
  log stdout
  errors stdout
  {{ if contains $container.Labels "CADDY_BASIC_AUTH" }}
    {{ range $auth := split $container.Labels.CADDY_BASIC_AUTH "," }}
      {{ with $params := split $auth ":" }}
        {{ if eq (len $params) 3 }}
  basicauth{{ range $param := $params }} {{ $param }}{{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  proxy / {{ coalesce $container.Labels.CADDY_SCHEME "http" }}://{{ $container.Name }}:
  {{- coalesce $container.Labels.CADDY_PORT (first $container.Addresses).Port "80" }}
  {{- if contains $container.Labels "CADDY_PROXY_PARAMS" }} {
    {{ range $param := split $container.Labels.CADDY_PROXY_PARAMS "," }}
    {{ $param }}
    {{ end }}
  }
  {{ end }}
}
{{ end }}
